dist/components/a_z_anchors.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>A-Z Anchors | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!-- include link to css for component here //-->
  <body>
    <article class="gel-glossary">
      <div class="container">
        <h2 class="force-margin-bottom">A-Z Anchors</h2>
        <div class="a-z-list" data-gel-a-z-anchors-scroll>
          <div class="ac">
            <ol class="gel-a-z-anchors">
              <li data-character-name="A"><a href="#A">A</a></li>
              <li data-character-name="B"><a href="#B">B</a></li>
              <li data-character-name="C"><a href="#C">C</a></li>
              <li data-character-name="D"><a href="#D">D</a></li>
              <li data-character-name="E"><a href="#E">E</a></li>
              <li data-character-name="F"><a href="#F">F</a></li>
              <li data-character-name="G"><a href="#G">G</a></li>
              <li data-character-name="H"><a href="#H">H</a></li>
              <li data-character-name="I"><a href="#I">I</a></li>
              <li data-character-name="J"><a href="#J">J</a></li>
              <li data-character-name="K"><a href="#K">K</a></li>
              <li data-character-name="L"><a href="#L">L</a></li>
              <li data-character-name="M"><a href="#M">M</a></li>
              <li data-character-name="N"><a href="#N">N</a></li>
              <li data-character-name="O"><a href="#O">O</a></li>
              <li data-character-name="P"><a href="#P">P</a></li>
              <li data-character-name="Q"><a href="#Q">Q</a></li>
              <li data-character-name="R"><a href="#R">R</a></li>
              <li data-character-name="S"><a href="#S">S</a></li>
              <li data-character-name="T"><a href="#T">T</a></li>
              <li data-character-name="U"><a href="#U">U</a></li>
              <li data-character-name="V"><a href="#V">V</a></li>
              <li data-character-name="W"><a href="#W">W</a></li>
              <li data-character-name="X"><a href="#X">X</a></li>
              <li data-character-name="Y"><a href="#Y">Y</a></li>
              <li data-character-name="Z"><a href="#Z">Z</a></li>
            </ol>
          </div>
        </div>
      </div>
    </article>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table><!-- global footer scripts include JQuery //-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script><!-- include any component specific scripts here //-->
  </body>
</html>

src/assets/templates/components/a_z_anchors.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "A-Z Anchors"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    article.gel-glossary
      div.container
        h2.force-margin-bottom
            | A-Z Anchors
            
        div.a-z-list(data-gel-a-z-anchors-scroll)
          div.ac
            +gel_a_z_anchors
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
    
