dist/components/banner.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>Banner | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!-- include link to css for component here //-->
  <body>
    <h2> Include title of compent here</h2>
    <div class="spacer" id="banner"></div>
    <hr>
    <div>
      <div>
        <h2 class="force-margin-bottom">Banners</h2>
      </div>
    </div>
    <div id="banner_auto">
      <aside class="gel-banner-container" aria-label="banner">
        <div>
          <h2 class="show-on-sr">Featured page</h2>
          <div class="gel-banner"><img class="img-fluid" src="https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)" alt="placeholder banner"/>
            <div class="gel-banner__content" tabindex="0">
              <div class="banner__content-container">
                <h3 class="gel-banner__content__title">One morning, when.
                </h3>
                <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. 
                </p>
                <div><a class="btn btn-banner gel-button gel-button-medium gel-button-primary" href="#" title="banner link">It wasnt </a></div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <div class="gel_banner-underneath-container">
        <h2 class="gel-block__header">Positioning of container underneath banner</h2>
      </div>
      <div class="spacer"></div>
      <aside class="gel-banner-container gel-banner-container--small" aria-label="banner">
        <div>
          <h2 class="show-on-sr"></h2>
          <div class="gel-banner"><img class="img-fluid" src="https://placehold.it/1350x270?text=SMALL+BANNER+(1350x270)" alt="placeholder banner"/>
          </div>
        </div>
      </aside>
      <div class="gel_banner-underneath-container">
        <h2 class="gel-block__header">Positioning of container underneath small banner</h2>
      </div>
      <div class="spacer"></div>
      <aside class="gel-banner-container" aria-label="banner">
        <div>
          <h2 class="show-on-sr">Featured page</h2>
          <div class="gel-banner fifty_fifty_warpper row">
            <div class="col-lg-6 order-lg-last order-md-first">
              <div class="media-container image_container"><img class="img-fluid" src="https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)" alt="placeholder banner"/></div>
            </div>
            <div class="gel-banner__content col-lg-6 order-lg-first gel-banner__content_fifty" tabindex="0">
              <div class="banner__content-container">
                <h3 class="gel-banner__content__title">Samsa was a.
                </h3>
                <p>Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. 
                </p>
                <div><a class="btn btn-banner gel-button gel-button-medium gel-button-primary" href="#" title="banner link">How about </a></div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <div class="gel_banner-underneath-container">
        <h2 class="gel-block__header">Positioning of container underneath 50% banner with image</h2>
      </div>
      <div class="spacer"></div>
      <aside class="gel-banner-container" aria-label="banner">
        <div>
          <h2 class="show-on-sr">Featured page</h2>
          <div class="gel-banner fifty_fifty_warpper row">
            <div class="col-lg-6 order-lg-last order-md-first">
              <div class="media-container image_container"><img class="img-fluid" src="https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)" alt="placeholder banner"/></div>
            </div>
            <div class="gel-banner__content col-lg-6 order-lg-first gel-banner__content_fifty" tabindex="0">
              <div class="banner__content-container">
                <h3 class="gel-banner__content__title">One morning, when.
                </h3>
                <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. 
                </p>
                <div><a class="btn btn-banner gel-button gel-button-medium gel-button-primary" href="#" title="banner link">It wasnt </a></div>
                <div><a class="btn btn-banner gel-button gel-button-medium gel-button-secondary" href="#" title="banner link">Samsa was </a></div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <div class="gel_banner-underneath-container">
        <h2 class="gel-block__header">Positioning of container underneath 50% banner with image (more actions)</h2>
      </div>
      <div class="spacer"></div>
      <aside class="gel-banner-container" aria-label="banner">
        <div>
          <h2 class="show-on-sr">Featured page</h2>
          <div class="gel-banner fifty_fifty_warpper row">
            <div class="col-lg-6 order-lg-last order-md-first">
              <div class="media-container image_container"><img class="img-fluid" src="https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)" alt="placeholder banner"/></div>
            </div>
            <div class="gel-banner__content col-lg-6 order-lg-first gel-banner__content_fifty" tabindex="0">
              <div class="banner__content-container">
                <h3 class="gel-banner__content__title">Gregor then turned.
                </h3>
                <p>However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut his eyes so that he wouldnt have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before. 
                </p>
                <div><a href="#" title="banner link">One morning </a></div>
                <div><a href="https://www.google.com" title="banner link">His many </a></div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <div class="gel_banner-underneath-container">
        <h2 class="gel-block__header">Positioning of container underneath 50% banner with image (links)</h2>
      </div>
      <div class="spacer"></div>
      <aside class="gel-banner-container" aria-label="banner">
        <div>
          <h2 class="show-on-sr">Featured page</h2>
          <div class="gel-banner fifty_fifty_warpper row">
            <div class="col-lg-6 order-lg-last order-md-first">
              <div class="media-container video_container">
                <div class="gel-script embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q3YYwIsMHzw?rel=0" title="Earth at Night" allowfullscreen="" aria-label="Earth at Night"></iframe>
                </div>
              </div>
            </div>
            <div class="gel-banner__content col-lg-6 order-lg-first gel-banner__content_fifty" tabindex="0">
              <div class="banner__content-container">
                <h3 class="gel-banner__content__title">His room, a.
                </h3>
                <p>and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. 
                </p>
                <div><a class="btn btn-banner gel-button gel-button-medium gel-button-primary" href="#" title="banner link">Gregor then </a></div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <div class="gel_banner-underneath-container">
        <h2 class="gel-block__header">Positioning of container underneath 50% banner with video</h2>
      </div>
      <div class="spacer"></div>
      <aside class="gel-banner-container" aria-label="banner">
        <div>
          <h2 class="show-on-sr">Featured page</h2>
          <div class="gel-banner"><img class="img-fluid" src="https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)" alt="placeholder banner"/>
            <div class="gel-banner__content large-overlay" tabindex="0">
              <div class="banner__content-container">
                <h3 class="gel-banner__content__title">However hard he.
                </h3>
                <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. 
                </p>
                <div><a class="btn btn-banner gel-button gel-button-medium gel-button-primary" href="#" title="banner link">The bedding </a></div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <div class="gel_banner-underneath-container">
        <h2 class="gel-block__header">Positioning of container underneath large banner with overlay</h2>
      </div>
      <div class="spacer"></div>
      <aside class="gel-banner-container" aria-label="banner">
        <div>
          <h2 class="show-on-sr">Featured page</h2>
          <div class="gel-banner"><img class="img-fluid" src="https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)" alt="placeholder banner"/>
            <div class="gel-banner__content large-overlay" tabindex="0">
              <div class="banner__content-container">
                <h3 class="gel-banner__content__title">It wasnt a.
                </h3>
                <p>Samsa was a travelling salesman. and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. 
                </p>
                <div><a href="#" title="banner link">It showed </a></div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <div class="gel_banner-underneath-container">
        <h2 class="gel-block__header">Positioning of container underneath large banner with overlay (link)</h2>
      </div>
    </div>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table><!-- global footer scripts include JQuery //-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script><!-- include any component specific scripts here //-->
  </body>
</html>

src/assets/templates/components/banner.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Banner"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    h2  Include title of compent here
    //- BANNERS -//

    div#banner.spacer

    hr

    div

      div

        h2.force-margin-bottom
          | Banners

    div#banner_auto

      +gel_banner("https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)")

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath banner

      div.spacer

      +gel_banner("https://placehold.it/1350x270?text=SMALL+BANNER+(1350x270)",false, true)

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath small banner
        
      div.spacer

      +gel_banner("https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)",false, false, true)

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath 50% banner with image
        
      div.spacer

      +gel_banner("https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)",false, false, true, false, true)

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath 50% banner with image (more actions)
    
      div.spacer
      
      +gel_banner("https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)",false, false, true, false, true, true)

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath 50% banner with image (links)
    
      div.spacer

      +gel_banner(false, true, false, true)

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath 50% banner with video
        
      div.spacer

      +gel_banner("https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)", false, false, false, true)

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath large banner with overlay
        
      div.spacer

      +gel_banner("https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)", false, false, false, true, false, true)

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath large banner with overlay (link)
        
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    
