dist/components/catalogue.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>Catalogue | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!-- include link to css for component here //-->
  <body>
    <h2>
       Catalogue</h2><!-- start component //-->
    <div id="catalogue_auto">
      <div class="container">
        <div class="row gel-catalogue">
          <nav class="col-lg-4 d-none d-lg-block">
            <h2 class="black">Browse by </h2>
            <ul class="gel-category-list">
              <li><a class="active" href="0">One </a></li>
              <li><a href="0">His </a></li>
              <li><a href="0">His </a></li>
              <li><a href="0">and </a></li>
              <li><a href="0">Drops </a></li>
              <li><a href="0">He </a></li>
              <li><a href="0">One </a></li>
            </ul>
          </nav>
          <div class="col col-lg-8">
            <form>
              <div class="gel-form gel-form--inline col-lg-10 no-gutters" id="frm01" action="" method="GET">
                <fieldset>
                  <legend class="show-on-sr">Catalogue sort options</legend>
                  <label class="d-lg-none" for="406">Browse by
                  </label>
                  <select class="d-lg-none" id="406" name="406" data-gel-auto-submit="data-gel-auto-submit">
                    <option value="0">His many 
                    </option>
                    <option value="1">His room 
                    </option>
                    <option value="2">and above 
                    </option>
                    <option value="3">Drops of 
                    </option>
                    <option value="4">He must 
                    </option>
                    <option value="5">One morning 
                    </option>
                    <option value="6">His many 
                    </option>
                    <option value="7">His room 
                    </option>
                  </select>
                  <label for="31">Sort by
                  </label>
                  <select id="31" name="31" data-gel-auto-submit2="data-gel-auto-submit2">
                    <option value="0">and above 
                    </option>
                    <option value="1">Drops of 
                    </option>
                    <option value="2">He must 
                    </option>
                    <option value="3">One morning 
                    </option>
                    <option value="4">His many 
                    </option>
                    <option value="5">His room 
                    </option>
                  </select>
                  <input class="btn gel-button gel-button-primary gel-button-small" type="submit" id="sub01" name="sub01" value="Filter"/>
                  <p>and above it 
                  </p>
                </fieldset>
              </div>
            </form>
            <nav class="gel-vc-icons">
              <h3 class="show-on-sr">Visual control icons</h3>
              <button class="gel-vc-btn fa-th-icon active" aria-label="View items in a grid" title="View items in a grid" data-gel-class-toggle="gel-flex-grid--columns" data-gel-class-toggle-target=".gel-flex-grid" data-gel-class-toggle-disable="disable"><span class="invisible">grid view</span></button>
              <button class="gel-vc-btn fa-list-icon" aria-label="View items in a list" title="View items in a list" data-gel-class-toggle="gel-flex-grid--columns" data-gel-class-toggle-target=".gel-flex-grid" data-gel-class-toggle-disable="disable"><span class="invisible">list view</span></button>
            </nav>
            <hr class="mt-1 mb0"/>
            <div aria-live="polite"> 
              <ul class="gel-flex-grid gel-flex-grid--columns gel-flex-grid--columns-3">
                <li><a class="gel-catalogue-teaser" href="#">
                        <article class="gel-catalogue-teaser--#{default }" data-pseudo-link="data-pseudo-link">
                          <div class="get-catalogue-teaser_thumbnail"> <img src="https://placehold.it/228x152" alt=""/></div>
                          <div class="gel-catalogue-teaser_content">
                            <h3>Drops of rain could be 
                            </h3>
                            <p class="gel-catalogue-teaser_description">He must have tried it a hundred times shut his eyes so that he wouldnt 
                            </p>
                            <p class="gel-catalogue-teaser_data">$XXX.XX (exc. GST)</p>
                          </div>
                        </article></a>
                </li>
                <li><a class="gel-catalogue-teaser" href="#">
                        <article class="gel-catalogue-teaser--#{default }" data-pseudo-link="data-pseudo-link">
                          <div class="get-catalogue-teaser_thumbnail"> <img src="https://placehold.it/228x152" alt=""/></div>
                          <div class="gel-catalogue-teaser_content">
                            <h3>One morning when Gregor Samsa 
                            </h3>
                            <p class="gel-catalogue-teaser_description">His many legs pitifully thin compared with the size of the rest of him waved 
                            </p>
                            <p class="gel-catalogue-teaser_data">$XXX.XX (exc. GST)</p>
                          </div>
                        </article></a>
                </li>
                <li><a class="gel-catalogue-teaser" href="#">
                        <article class="gel-catalogue-teaser--#{default }" data-pseudo-link="data-pseudo-link">
                          <div class="get-catalogue-teaser_thumbnail"> <img src="https://placehold.it/228x152" alt=""/></div>
                          <div class="gel-catalogue-teaser_content">
                            <h3>His room a proper human 
                            </h3>
                            <p class="gel-catalogue-teaser_description">and above it there hung a picture that he had recently cut out of an 
                            </p>
                            <p class="gel-catalogue-teaser_data">$XXX.XX (exc. GST)</p>
                          </div>
                        </article></a>
                </li>
                <li><a class="gel-catalogue-teaser" href="#">
                        <article class="gel-catalogue-teaser--#{default }" data-pseudo-link="data-pseudo-link">
                          <div class="get-catalogue-teaser_thumbnail"> <img src="https://placehold.it/228x152" alt=""/></div>
                          <div class="gel-catalogue-teaser_content">
                            <h3>Drops of rain could be 
                            </h3>
                            <p class="gel-catalogue-teaser_description">He must have tried it a hundred times shut his eyes so that he wouldnt 
                            </p>
                            <p class="gel-catalogue-teaser_data">$XXX.XX (exc. GST)</p>
                          </div>
                        </article></a>
                </li>
                <li><a class="gel-catalogue-teaser" href="#">
                        <article class="gel-catalogue-teaser--#{default }" data-pseudo-link="data-pseudo-link">
                          <div class="get-catalogue-teaser_thumbnail"> <img src="https://placehold.it/228x152" alt=""/></div>
                          <div class="gel-catalogue-teaser_content">
                            <h3>One morning when Gregor Samsa 
                            </h3>
                            <p class="gel-catalogue-teaser_description">His many legs pitifully thin compared with the size of the rest of him waved 
                            </p>
                            <p class="gel-catalogue-teaser_data">$XXX.XX (exc. GST)</p>
                          </div>
                        </article></a>
                </li>
              </ul>
            </div>
            <nav>
              <ul class="gel-pagination">
                <li class="gel-pagination__prev gel-pagination__disabled"><a href="#" title="Previous page" aria-label="Previous page"><span>Previous</span></a></li>
                <li class="gel-pagination__disabled gel-pagination__active"><a href="#" tabindex="0" aria-label="Current Page 1" role="link">1</a></li>
                <li><a href="#" title="Page 2" aria-label="Page 2">2</a></li>
                <li><a href="#" title="Page 3" aria-label="Page 3">3</a></li>
                <li><a href="#" title="Page 4" aria-label="Page 4">4</a></li>
                <li><a href="#" title="Page 5" aria-label="Page 5">5</a></li>
                <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...</span></li>
                <li class="gel-pagination__next"><a href="#" title="Next page" aria-label="Next page"><span>Next</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="spacer"></div><!-- end component //-->
    </div>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13-05-2019</td>
          <td> <a href="https://dec-ce.atlassian.net/browse/GEL-38">https://dec-ce.atlassian.net/browse/GEL-38</a></td>
          <td>Description to go here</td>
        </tr>
      </tbody>
    </table><!-- global footer scripts include JQuery //-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script><!-- include any component specific scripts here //-->
    <script src="../assets/js/utilities/classToggle.js" type="text/javascript"></script>
    <script src="../assets/js/components/catalogueForm.js" type="text/javascript"></script>
    <script src="../assets/js/components/catalogue.js" type="text/javascript"> </script>
  </body>
</html>

src/assets/templates/components/catalogue.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Catalogue"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body

    h2  
      | Catalogue

    <!-- start component //-->
 

    div#catalogue_auto

      div.container

        +gel_catalogue(5, true)

      div.spacer

      <!-- end component //-->

    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
        tr
          td 13-05-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-38")
              | https://dec-ce.atlassian.net/browse/GEL-38
          td Description to go here
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
    script(src='../assets/js/utilities/classToggle.js' type='text/javascript')
    script(src='../assets/js/components/catalogueForm.js' type='text/javascript')
    script(src='../assets/js/components/catalogue.js' type='text/javascript')  
