dist/components/drawer.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>Drawer | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!-- include link to css for component here //-->
  <body>
    <h2> Drawer</h2>
    <div id="drawer_auto">
      <div class="gel-eg-stage">
        <aside class="gel-drawer" aria-label="drawer" id="drawer1tabContainer">
          <div role="tablist"><a href="#drawer1" id="drawer1tab" role="tab" aria-controls="drawer1" aria-expanded="false">One morning </a></div>
          <div id="drawer1" role="tabpanel" aria-labelledby="drawer1tab" aria-hidden="true" aria-label="tabpanel">His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. 
          </div>
        </aside>
      </div>
    </div>
    <div id="drawer_auto1">
      <div class="gel-eg-stage">
        <aside class="gel-drawer" aria-label="drawer" id="drawer532tabContainer">
          <div role="tablist"><a href="#drawer532" id="drawer532tab" role="tab" aria-controls="drawer532" aria-expanded="false">It wasnt </a></div>
          <div id="drawer532" role="tabpanel" aria-labelledby="drawer532tab" aria-hidden="true" aria-label="tabpanel">Samsa was a travelling salesman. and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. 
          </div>
        </aside>
      </div>
    </div>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table><!-- global footer scripts include JQuery //-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script><!-- include any component specific scripts here //-->
    <script src="../assets/js/components/keyCodes.js" type="text/javascript"></script>
    <script src="../assets/js/components/ariaToggler.js" type="text/javascript"></script>
    <script src="../assets/js/components/classManipulator.js" type="text/javascript"></script>
    <script src="../assets/js/components/drawer.js" type="text/javascript"></script>
  </body>
</html>

src/assets/templates/components/drawer.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Drawer"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    h2  Drawer
    div#drawer_auto
      mixin gel_drawer_tab_contents()
        +lipsum(2, "words")

      mixin gel_drawer_panel_contents()
        +lipsum(2, "sentences")

      div.gel-eg-stage

        +gel_drawer
    
    div#drawer_auto1
      mixin gel_drawer_tab_contents()
        +lipsum(2, "words")

      mixin gel_drawer_panel_contents()
        +lipsum(2, "sentences")

      div.gel-eg-stage

        +gel_drawer 
        
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
    script(src='../assets/js/components/keyCodes.js' type='text/javascript')
    script(src='../assets/js/components/ariaToggler.js' type='text/javascript')
    script(src='../assets/js/components/classManipulator.js' type='text/javascript')
    script(src='../assets/js/components/drawer.js'  type='text/javascript')
      
      
    
