src/assets/templates/components/grid.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Grid"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body

    style.
      .col-12 { position: relative; padding: 20px; color: #FFF; }
      .col-12:before {
        position: absolute;
        content: '';
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        z-index: -1;
        background: #607D8B;
        border: 1px solid #000;
      }

      .col-md-3:before { background: rgba(0, 0, 0, 0.2); }
      .col-md-4:before { background: rgba(0, 0, 0, 0.4); }
      .col-md-6:before { background: rgba(0, 0, 0, 0.6); }
      .col-md-8:before { background: rgba(0, 0, 0, 0.7); }


    h2 Grid
    p NOTE: The column control component in AEM will be based off the bootstrap grid system.
    <!-- start component //-->
    
    .container
      h5 Columns: 50% / 50%
      .row
        .col-12.col-md-6
          | Column 1/2
        .col-12.col-md-6
          | Column 1/2

      hr

      h5 Columns: 33% / 33% / 33%
      .row
        .col-12.col-md-4
          | Column 1/3
        .col-12.col-md-4
          | Column 1/3
        .col-12.col-md-4
          | Column 1/3

      hr

      h5 Columns: 33% / 66%
      .row
        .col-12.col-md-4
          | Column 1/3
        .col-12.col-md-8
          | Column 2/3

      hr

      h5 Columns: 25% / 25% / 25% / 25%
      .row
        .col-12.col-md-3
          | Column 1/4
        .col-12.col-md-3
          | Column 1/4
        .col-12.col-md-3
          | Column 1/4
        .col-12.col-md-3
          | Column 1/4

      hr

      h5 Columns: 25% / 50% / 25%
      .row
        .col-12.col-md-3
          | Column 1/4
        .col-12.col-md-6
          | Column 2/4
        .col-12.col-md-3
          | Column 1/4
      
      hr

      h5 Columns: 50% / 25% /25%
      .row
        .col-12.col-md-6
          | Column 2/4
        .col-12.col-md-3
          | Column 1/4
        .col-12.col-md-3
          | Column 1/4

      hr

      h5 Columns: 25% / 25% / 50%
      .row
        .col-12.col-md-3
          | Column 1/4
        .col-12.col-md-3
          | Column 1/4
        .col-12.col-md-6
          | Column 2/4
    
    <!-- end component //-->

    footer
    hr

    h2 Record of change decisions

    table
      thead
        tr
          th Change date
          th Jira links
          th Change details

      tbody


    // global footer scripts include JQuery
    include ../../pug/components/_global-scripts.pug
    script(src='../assets/js/constants.js' type='text/javascript')
    script(src='../assets/js/components/guidedJourney.js' type='text/javascript')
    // include any component specific scripts here

dist/components/grid.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>Grid | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head>
  <body>
    <style>
      .col-12 { position: relative; padding: 20px; color: #FFF; }
      .col-12:before {
        position: absolute;
        content: '';
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        z-index: -1;
        background: #607D8B;
        border: 1px solid #000;
      }
      
      .col-md-3:before { background: rgba(0, 0, 0, 0.2); }
      .col-md-4:before { background: rgba(0, 0, 0, 0.4); }
      .col-md-6:before { background: rgba(0, 0, 0, 0.6); }
      .col-md-8:before { background: rgba(0, 0, 0, 0.7); }
      
      
    </style>
    <h2>Grid</h2>
    <p>NOTE: The column control component in AEM will be based off the bootstrap grid system.</p><!-- start component //-->
    <div class="container">
      <h5>Columns: 50% / 50%</h5>
      <div class="row">
        <div class="col-12 col-md-6">Column 1/2</div>
        <div class="col-12 col-md-6">Column 1/2</div>
      </div>
      <hr>
      <h5>Columns: 33% / 33% / 33%</h5>
      <div class="row">
        <div class="col-12 col-md-4">Column 1/3</div>
        <div class="col-12 col-md-4">Column 1/3</div>
        <div class="col-12 col-md-4">Column 1/3</div>
      </div>
      <hr>
      <h5>Columns: 33% / 66%</h5>
      <div class="row">
        <div class="col-12 col-md-4">Column 1/3</div>
        <div class="col-12 col-md-8">Column 2/3</div>
      </div>
      <hr>
      <h5>Columns: 25% / 25% / 25% / 25%</h5>
      <div class="row">
        <div class="col-12 col-md-3">Column 1/4</div>
        <div class="col-12 col-md-3">Column 1/4</div>
        <div class="col-12 col-md-3">Column 1/4</div>
        <div class="col-12 col-md-3">Column 1/4</div>
      </div>
      <hr>
      <h5>Columns: 25% / 50% / 25%</h5>
      <div class="row">
        <div class="col-12 col-md-3">Column 1/4</div>
        <div class="col-12 col-md-6">Column 2/4</div>
        <div class="col-12 col-md-3">Column 1/4</div>
      </div>
      <hr>
      <h5>Columns: 50% / 25% /25%</h5>
      <div class="row">
        <div class="col-12 col-md-6">Column 2/4</div>
        <div class="col-12 col-md-3">Column 1/4</div>
        <div class="col-12 col-md-3">Column 1/4</div>
      </div>
      <hr>
      <h5>Columns: 25% / 25% / 50%</h5>
      <div class="row">
        <div class="col-12 col-md-3">Column 1/4</div>
        <div class="col-12 col-md-3">Column 1/4</div>
        <div class="col-12 col-md-6">Column 2/4</div>
      </div>
    </div><!-- end component //-->
    <footer></footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table>
      <thead>
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <!-- global footer scripts include JQuery-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script>
    <script src="../assets/js/constants.js" type="text/javascript"></script>
    <script src="../assets/js/components/guidedJourney.js" type="text/javascript"></script>
    <!-- include any component specific scripts here-->
  </body>
</html>
