src/assets/templates/components/highlight_panel.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Highlight Panel - News"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body

    h2  
      | News feature

    <!-- start component //-->
 

    div#news-feature
      h3
        | With Border (For home page)

      div.container
      
        div.gel-highlight-features.row

          div.gel-highlight-feature-panel.gel-highlight-panels__variation.gel-match-height.col-md-6

            +gel_highlight_panel('gel-highlight-panels__variation', 1, '','Secretary\'s update',1)
      
      br

      h3
        | (For news page) - with and without image  

      div.container
      
        div.gel-highlight-features.row

          div.gel-highlight-feature-panel.gel-highlight-panels__variation.gel-match-height.col-md-6

            +gel_highlight_panel('gel-highlight-panels__variation', 1, '','Student voice',1)

          div.gel-highlight-feature-panel.gel-highlight-panels__variation.gel-match-height.col-md-6

            +gel_highlight_panel('gel-highlight-panels__variation', 0, '','Latest news',1)


      div.spacer

      <!-- end component //-->

    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
        tr
          td 18-06-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-11")
              | https://dec-ce.atlassian.net/browse/GEL-111
          td Description to go here
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->

dist/components/highlight_panel.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>Highlight Panel - News | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!-- include link to css for component here //-->
  <body>
    <h2>
       News feature</h2><!-- start component //-->
    <div id="news-feature">
      <h3>With Border (For home page)</h3>
      <div class="container">
        <div class="gel-highlight-features row">
          <div class="gel-highlight-feature-panel gel-highlight-panels__variation gel-match-height col-md-6">
            <div class="gel-highlight-panels__panel card gel-highlight-panels__variation">
              <h3 class="show-on-sr">News item</h3>
              <div class="gel-highlight-panels__category">
                <div class="gel-highlight-panels__image"><img src="//placehold.it/800x600" alt=""/></div>
                <div class="gel-categoryname-date">   
                  <h3 class="gel-featured-teaser_highlight category-secretarys_update">Secretary's update</h3>
                  <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                </div>
              </div>
              <div class="gel-highlight-panels__content card-body">
                <h3><a class="gel-highlight-panels__content-title" href="#">One morning when Gregor Samsa </a></h3>
                <div>
                  <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. It wasnt a dream. 
                  </p>
                </div>
              </div>
              <div class="gel-highlight-panels-bottominfo">
                <div class="gel-highlight-panels-moreinfo"><a href="#"> <span>Read more&hellip;</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <h3>(For news page) - with and without image  </h3>
      <div class="container">
        <div class="gel-highlight-features row">
          <div class="gel-highlight-feature-panel gel-highlight-panels__variation gel-match-height col-md-6">
            <div class="gel-highlight-panels__panel card gel-highlight-panels__variation">
              <h3 class="show-on-sr">News item</h3>
              <div class="gel-highlight-panels__category">
                <div class="gel-highlight-panels__image"><img src="//placehold.it/800x600" alt=""/></div>
                <div class="gel-categoryname-date">   
                  <h3 class="gel-featured-teaser_highlight category-student_voice">Student voice</h3>
                  <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                </div>
              </div>
              <div class="gel-highlight-panels__content card-body">
                <h3><a class="gel-highlight-panels__content-title" href="#">His room a proper human </a></h3>
                <div>
                  <p>and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. 
                  </p>
                </div>
              </div>
              <div class="gel-highlight-panels-bottominfo">
                <div class="gel-highlight-panels-moreinfo"><a href="#"> <span>Read more&hellip;</span></a></div>
              </div>
            </div>
          </div>
          <div class="gel-highlight-feature-panel gel-highlight-panels__variation gel-match-height col-md-6">
            <div class="gel-highlight-panels__panel card gel-highlight-panels__variation">
              <h3 class="show-on-sr">News item</h3>
              <div class="gel-highlight-panels__category">
                <div class="gel-categoryname-date">   
                  <h3 class="gel-featured-teaser_highlight category-latest_news">Latest news</h3>
                  <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                </div>
              </div>
              <div class="gel-highlight-panels__content card-body">
                <h3><a class="gel-highlight-panels__content-title" href="#">Drops of rain could be </a></h3>
                <div>
                  <p>He must have tried it a hundred times, shut his eyes so that he wouldnt have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before.  Travelling day in and day out. Doing business like this takes much more effort than doing your own business at home, and on top of that theres the curse of travelling, worries about making train connections, bad and irregular food, contact with different people all the time so that you can never get to know anyone or become friendly with them. 
                  </p>
                </div>
              </div>
              <div class="gel-highlight-panels-bottominfo">
                <div class="gel-highlight-panels-moreinfo"><a href="#"> <span>Read more&hellip;</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div><!-- end component //-->
    </div>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>18-06-2019</td>
          <td> <a href="https://dec-ce.atlassian.net/browse/GEL-11">https://dec-ce.atlassian.net/browse/GEL-111</a></td>
          <td>Description to go here</td>
        </tr>
      </tbody>
    </table><!-- global footer scripts include JQuery //-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script><!-- include any component specific scripts here //-->
  </body>
</html>
