src/assets/templates/components/input.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Input"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body
    main.gel-main
      .container-fluid
        h1 Form Inputs
        h2 Standard Input
        .row
          .col-3
            div Basic
            .form-group
              label Label
              input.form-control(type='text')
          .col-3
            div Assistive Text Under Field
            label Label
            .form-group
              input.form-control(type='text')
              small.form-text
                | Enter a alternative pickup address
          .col-3
            div Basic + R.Icon
            .form-group
              label Label
              .input-group
                input.form-control.gel-p-r(type='text')
                .input-group-append
                  span.input-group-text
                    span.fas.fa-calendar-alt
          .col-3
            div Basic + L.Icon
            .form-group
              label Label
              .input-group
                .input-group-prepend
                  span.input-group-text
                    span.fas.fa-search
                input.form-control.gel-p-l(type='text')

        h2 Standard Input with Error
        .row
          .col-3
            div Basic
            .form-group
              label Label
              input.form-control(type='text' required)
          .col-3
            div Assistive Text Under Field
            label Label
            .form-group
              input.form-control(type='text' required)
              small.form-text.required Please fill in this field
                
          .col-3
            div Basic + R.Icon
            label Label
            .form-group
              .input-group
                input.form-control.gel-p-r(type='text' required)
                .input-group-append
                  span.input-group-text
                    span.fas.fa-calendar-alt          

        h2 Standard Input Read Only
        .row
          .col-3
            div Read only
            .form-group
              label Label
              input.form-control(type='text', readonly='true')

          .col-3
            div Disabled
            .form-group
              label Label
              input.form-control(type='text', disabled='true')

dist/components/input.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>Input | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head>
  <body>
    <main class="gel-main">
      <div class="container-fluid">
        <h1>Form Inputs</h1>
        <h2>Standard Input</h2>
        <div class="row">
          <div class="col-3">
            <div>Basic</div>
            <div class="form-group">
              <label>Label</label>
              <input class="form-control" type="text">
            </div>
          </div>
          <div class="col-3">
            <div>Assistive Text Under Field</div>
            <label>Label</label>
            <div class="form-group">
              <input class="form-control" type="text"><small class="form-text">Enter a alternative pickup address</small>
            </div>
          </div>
          <div class="col-3">
            <div>Basic + R.Icon</div>
            <div class="form-group">
              <label>Label</label>
              <div class="input-group">
                <input class="form-control gel-p-r" type="text">
                <div class="input-group-append"><span class="input-group-text"><span class="fas fa-calendar-alt"></span></span></div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div>Basic + L.Icon</div>
            <div class="form-group">
              <label>Label</label>
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><span class="fas fa-search"></span></span></div>
                <input class="form-control gel-p-l" type="text">
              </div>
            </div>
          </div>
        </div>
        <h2>Standard Input with Error</h2>
        <div class="row">
          <div class="col-3">
            <div>Basic</div>
            <div class="form-group">
              <label>Label</label>
              <input class="form-control" type="text" required>
            </div>
          </div>
          <div class="col-3">
            <div>Assistive Text Under Field</div>
            <label>Label</label>
            <div class="form-group">
              <input class="form-control" type="text" required><small class="form-text required">Please fill in this field</small>
            </div>
          </div>
          <div class="col-3">
            <div>Basic + R.Icon</div>
            <label>Label</label>
            <div class="form-group">
              <div class="input-group">
                <input class="form-control gel-p-r" type="text" required>
                <div class="input-group-append"><span class="input-group-text"><span class="fas fa-calendar-alt">         </span></span></div>
              </div>
            </div>
          </div>
        </div>
        <h2>Standard Input Read Only</h2>
        <div class="row">
          <div class="col-3">
            <div>Read only</div>
            <div class="form-group">
              <label>Label</label>
              <input class="form-control" type="text" readonly="true">
            </div>
          </div>
          <div class="col-3">
            <div>Disabled</div>
            <div class="form-group">
              <label>Label</label>
              <input class="form-control" type="text" disabled="true">
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
