dist/components/meganav-mobile.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>Megamenu Mobile | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head>
  <body>
    <div id="gel-mobile-nav-page">
      <div class="gel-mobile-nav-indicator d-lg-none d-xl-none" aria-label="Megamenu mobile nav"><a class="b-mobile-nav--menu-btn left gel-mobile-nav-indicator_icon" id="menu-open" href="#gel-mnav" role="button" tabindex="0" aria-label="Click to open Megamenu mobile nav"></a></div>
    </div>
    <main class="gel-main">
      <h2>Megamenu Mobile</h2>
      <nav class="gel-mobile-nav" id="gel-mnav" role="dialog" aria-labelledby="gel-mobile-nav_header-lead-dialog">
        <ul class="gel-mobile-nav_list">
          <li class="gel-mobile-nav_header"><span id="gel-mobile-nav_header-lead-dialog" aria-hidden="true">Megamenu mobile nav</span><a class="gel-mobile-nav_header-logo-link" href="#" title="NSW Department of Education"><img class="gel-mobile-nav_header-logo-image" src="../assets/images/doe-logo-white.png" alt="NSW Department of Education logo"/></a>
            <p class="gel-mobile-nav_header-lead">Welcome to</p>
            <h1>education.nsw.gov.au      </h1>
          </li>
          <li class="gel-mobile-nav_list-links"><a href="#">Early childhood education</a>
            <ul><div class="hidden-xs gel-mobile-nav_list-links-intro">
<a href="#">
<h3>Early childhood education</h3>
</a>
<p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
</div>
              <li><a href="#">Information for parents and carers </a></li>
              <li><a href="#">Working in early childhood education</a></li>
              <li><a href="#">Investigation, feedback and complaints</a></li>
              <li><a href="#">Operating an early childhood education service </a></li>
              <li><a href="#">Whats happening in the early childhood education sector </a></li>
            </ul>
          </li>
          <li class="gel-mobile-nav_list-links"><a href="/about">Public Schools</a>
            <ul><div class="hidden-xs gel-mobile-nav_list-links-intro">
<a href="#">
<h3>Public Schools</h3>
</a>
<p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
</div>
              <li><a href="#">Community languages schools </a></li>
              <li><a href="#">Going to a public school</a></li>
              <li><a href="#">Selective high schools and opportunity classes</a></li>
              <li><a href="#">Assisted School Travel Program</a></li>
            </ul>
          </li>
          <li class="gel-mobile-nav_list-links"><a href="/about">Teaching and learning</a>
            <ul><div class="hidden-xs gel-mobile-nav_list-links-intro">
<a href="#">
<h3>Teaching and learning</h3>
</a>
<p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
</div>
              <li><a href="#">Curriculum</a></li>
              <li><a href="#">Aboriginal education and communities</a></li>
              <li><a href="#">Professional learning</a></li>
              <li><a href="#">Student assessment</a></li>
              <li><a href="#">Disability,learning and support</a></li>
              <li><a href="#">School excellence and accountability</a></li>
            </ul>
          </li>
          <li class="gel-mobile-nav_list-links"><a href="/about">Student wellbeing</a>
            <ul><div class="hidden-xs gel-mobile-nav_list-links-intro">
<a href="#">
<h3>Student wellbeing</h3>
</a>
<p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
</div>
              <li><a href="#">Counselling and psychology services</a></li>
              <li><a href="#">Attendance, behaviour and engagement</a></li>
              <li><a href="#">Child protection</a></li>
              <li><a href="#">Health and physical care </a></li>
              <li><a href="#">Whole school approach</a></li>
            </ul>
          </li>
          <li class="gel-mobile-nav_list-links"><a href="/about">Our priorities</a>
            <ul><div class="hidden-xs gel-mobile-nav_list-links-intro">
<a href="#">
<h3>Our priorities</h3>
</a>
<p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
</div>
              <li><a href="#">Work more effectively</a></li>
              <li><a href="#">Ensure quality early childhood education</a></li>
              <li><a href="#">Innovate for the future</a></li>
              <li><a href="#">Enhance student wellbeing</a></li>
              <li><a href="#">Improve student outcomes</a></li>
              <li><a href="#">Strengthen teaching quality and school leadership</a></li>
            </ul>
          </li>
          <li class="gel-mobile-nav_list-links"><a href="/about">Policy Library</a></li>
          <li class="gel-mobile-nav_list-links"><a href="/about">About us</a>
            <ul><div class="hidden-xs gel-mobile-nav_list-links-intro">
<a href="#">
<h3>About us</h3>
</a>
<p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
</div>
              <li><a href="#">Supplying to us</a></li>
              <li><a href="#">Jobs and opportunities</a></li>
              <li><a href="#">Our people and structure</a></li>
              <li><a href="#">Rights and accountability</a></li>
              <li><a href="#">Using school facilities</a></li>
              <li><a href="#">Strategies and reports</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </main>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
  <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js" type="text/javascript"></script>
  <script src="../assets/js/components/mobileMegaNav.js" type="text/javascript"></script>
</html>

src/assets/templates/components/meganav-mobile.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Megamenu Mobile"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body
    div#gel-mobile-nav-page
      div.gel-mobile-nav-indicator.d-lg-none.d-xl-none(aria-label="Megamenu mobile nav")
        a#menu-open.b-mobile-nav--menu-btn.left.gel-mobile-nav-indicator_icon(href='#gel-mnav',role='button', tabindex='0',aria-label="Click to open Megamenu mobile nav")
    main.gel-main
          h2
            | Megamenu Mobile
          +gel_meganav_mobile

    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
  include ../../pug/components/_global-scripts.pug
  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
  script(src='../assets/js/components/mobileMegaNav.js' type='text/javascript')
