src/assets/templates/components/news_teaser.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "News Teaser"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    h2 Event/News/Date related teaser
    
    h4 single one
    +gel_news_teaser
    
    hr
    
    h4 multiple 
    div#newsteasers_auto

      mixin gel_flex_grid_mixin
        +gel_news_teaser
      +gel_flex_grid(3, "simple")
    
    hr
      
    h4 multiple with category
    div.container
      div.row(id="newsteasers_auto")
        div.col-lg-4.d-none.d-lg-block
          h2.black News categories
          +gel_category_list(7)
          
        div.col-lg-8
          //--- Form
          form
            div.gel-form.gel-form--inline.no-gutters(id="frm01" action="" method="GET")
              fieldset
                legend.show-on-sr News categories
                +gel_select("Select Category", 8, 1, 1)
          
          mixin gel_flex_grid_mixin
            +gel_news_teaser
          +gel_flex_grid(3, "simple")
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    

dist/components/news_teaser.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>News Teaser | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!-- include link to css for component here //-->
  <body>
    <h2>Event/News/Date related teaser</h2>
    <h4>single one</h4>
    <article class="gel-news-teaser" data-pseudo-link="data-pseudo-link">
      <time class="gel-news-teaser__date" datetime="2015-12-25">25 December 2015</time>
      <div class="gel-news-teaser__content">
        <h2><a href="#">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his.</a></h2>
        <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. It wasnt a dream. 
        </p>
      </div>
    </article>
    <hr>
    <h4>multiple </h4>
    <div id="newsteasers_auto">
      <ul class="gel-flex-grid gel-flex-grid--simple gel-flex-grid--columns-undefined">
        <li>
                <article class="gel-news-teaser" data-pseudo-link="data-pseudo-link">
                  <time class="gel-news-teaser__date" datetime="2015-12-25">25 December 2015</time>
                  <div class="gel-news-teaser__content">
                    <h2><a href="#">His room, a proper human room although a little too small, lay peacefully between its.</a></h2>
                    <p>and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. 
                    </p>
                  </div>
                </article>
        </li>
        <li>
                <article class="gel-news-teaser" data-pseudo-link="data-pseudo-link">
                  <time class="gel-news-teaser__date" datetime="2015-12-25">25 December 2015</time>
                  <div class="gel-news-teaser__content">
                    <h2><a href="#">Drops of rain could be heard hitting the pane, which made him feel quite sad..</a></h2>
                    <p>He must have tried it a hundred times, shut his eyes so that he wouldnt have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before.  Travelling day in and day out. Doing business like this takes much more effort than doing your own business at home, and on top of that theres the curse of travelling, worries about making train connections, bad and irregular food, contact with different people all the time so that you can never get to know anyone or become friendly with them. 
                    </p>
                  </div>
                </article>
        </li>
        <li>
                <article class="gel-news-teaser" data-pseudo-link="data-pseudo-link">
                  <time class="gel-news-teaser__date" datetime="2015-12-25">25 December 2015</time>
                  <div class="gel-news-teaser__content">
                    <h2><a href="#">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his.</a></h2>
                    <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. It wasnt a dream. 
                    </p>
                  </div>
                </article>
        </li>
      </ul>
    </div>
    <hr>
    <h4>multiple with category</h4>
    <div class="container">
      <div class="row" id="newsteasers_auto">
        <div class="col-lg-4 d-none d-lg-block">
          <h2 class="black">News categories</h2>
          <ul class="gel-category-list">
            <li><a class="active" href="0">His </a></li>
            <li><a href="0">and </a></li>
            <li><a href="0">Drops </a></li>
            <li><a href="0">He </a></li>
            <li><a href="0">One </a></li>
            <li><a href="0">His </a></li>
            <li><a href="0">His </a></li>
          </ul>
        </div>
        <div class="col-lg-8">
          <form>
            <div class="gel-form gel-form--inline no-gutters" id="frm01" action="" method="GET">
              <fieldset>
                <legend class="show-on-sr">News categories</legend>
                <label class="d-lg-none" for="433">Select Category
                </label>
                <select class="d-lg-none" id="433" name="433" data-gel-auto-submit="data-gel-auto-submit">
                  <option value="0">and above 
                  </option>
                  <option value="1">Drops of 
                  </option>
                  <option value="2">He must 
                  </option>
                  <option value="3">One morning 
                  </option>
                  <option value="4">His many 
                  </option>
                  <option value="5">His room 
                  </option>
                  <option value="6">and above 
                  </option>
                  <option value="7">Drops of 
                  </option>
                </select>
              </fieldset>
            </div>
          </form>
          <ul class="gel-flex-grid gel-flex-grid--simple gel-flex-grid--columns-undefined">
            <li>
                        <article class="gel-news-teaser" data-pseudo-link="data-pseudo-link">
                          <time class="gel-news-teaser__date" datetime="2015-12-25">25 December 2015</time>
                          <div class="gel-news-teaser__content">
                            <h2><a href="#">He must have tried it a hundred times, shut his eyes so that he wouldnt.</a></h2>
                            <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. 
                            </p>
                          </div>
                        </article>
            </li>
            <li>
                        <article class="gel-news-teaser" data-pseudo-link="data-pseudo-link">
                          <time class="gel-news-teaser__date" datetime="2015-12-25">25 December 2015</time>
                          <div class="gel-news-teaser__content">
                            <h2><a href="#">His many legs, pitifully thin compared with the size of the rest of him, waved.</a></h2>
                            <p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table. Samsa was a travelling salesman. 
                            </p>
                          </div>
                        </article>
            </li>
            <li>
                        <article class="gel-news-teaser" data-pseudo-link="data-pseudo-link">
                          <time class="gel-news-teaser__date" datetime="2015-12-25">25 December 2015</time>
                          <div class="gel-news-teaser__content">
                            <h2><a href="#">and above it there hung a picture that he had recently cut out of an.</a></h2>
                            <p>Drops of rain could be heard hitting the pane, which made him feel quite sad. How about if I sleep a little bit longer and forget all this nonsense, he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldnt get into that position. However hard he threw himself onto his right, he always rolled back to where he was. 
                            </p>
                          </div>
                        </article>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table><!-- global footer scripts include JQuery //-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script><!-- include any component specific scripts here //-->
  </body>
</html>
