src/assets/templates/components/search-box.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Search Box"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    .container
      h2
        | Search Box
      div#searchbox_auto
        +gel_search_box('results', true)

      div
        .row
          .col-12.col-md-6
            h4 Search Input
            .gel-searchbox.gel-small
              .form-group
                .input-group
                  input.form-control(type='text' placeholder='Enter your search...')
                  .input-group-append
                    button.btn.gel-button
                      span.fas.fa-search


          .col-12.col-md-6
            h4 Search Input with Border
            .gel-searchbox.gel-border.gel-small
              .form-group
                .input-group
                  input.form-control(type='text' placeholder='Enter your search...')
                  .input-group-append
                    button.btn.gel-button
                      span.fas.fa-search

        h2 Medium (Default)
        .row
          .col-12.col-md-6
            h4 Search Input
            .gel-searchbox
              .form-group
                .input-group
                  input.form-control(type='text' placeholder='Enter your search...')
                  .input-group-append
                    button.btn.gel-button
                      span.fas.fa-search


          .col-12.col-md-6
            h4 Search Input with Border
            .gel-searchbox.gel-border
              .form-group
                .input-group
                  input.form-control(type='text' placeholder='Enter your search...')
                  .input-group-append
                    button.btn.gel-button
                      span.fas.fa-search

        h2 Large
        .row
          .col-12.col-md-6
            h4 Search Input
            .gel-searchbox.gel-small.gel-large
              .form-group
                .input-group
                  input.form-control(type='text' placeholder='Enter your search...')
                  .input-group-append
                    button.btn.gel-button
                      span.fas.fa-search


          .col-12.col-md-6
            h4 Search Input with Border
            .gel-searchbox.gel-border.gel-large
              .form-group
                .input-group
                  input.form-control(type='text' placeholder='Enter your search...')
                  .input-group-append
                    button.btn.gel-button
                      span.fas.fa-search
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    

dist/components/search-box.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>Search Box | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!-- include link to css for component here //-->
  <body>
    <div class="container">
      <h2>Search Box</h2>
      <div id="searchbox_auto">
        <form class="gel-search  gel-search--body" id="search-box" action="#" aria-hidden="false" aria-labelledby="btnSearch21">
          <h1 class="gel-search__heading">Search results<span><span class="badge link-tag-container"><span class="link-tag-icon">Staff only</span></span></span></h1>
          <fieldset>
            <legend class="show-on-sr">Global Search</legend>
            <div class="gel-searchbox">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Enter your search..."/>
                  <div class="input-group-append">
                    <button class="btn gel-button"><span class="fas fa-search"></span></button>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <p class="gel-search__spelling-suggestion">Did you mean: <em> <a href="#"> One morning </a></em></p>
        </form>
      </div>
      <div>
        <div class="row">
          <div class="col-12 col-md-6">
            <h4>Search Input</h4>
            <div class="gel-searchbox gel-small">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Enter your search...">
                  <div class="input-group-append">
                    <button class="btn gel-button"><span class="fas fa-search"></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <h4>Search Input with Border</h4>
            <div class="gel-searchbox gel-border gel-small">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Enter your search...">
                  <div class="input-group-append">
                    <button class="btn gel-button"><span class="fas fa-search"></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2>Medium (Default)</h2>
        <div class="row">
          <div class="col-12 col-md-6">
            <h4>Search Input</h4>
            <div class="gel-searchbox">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Enter your search...">
                  <div class="input-group-append">
                    <button class="btn gel-button"><span class="fas fa-search"></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <h4>Search Input with Border</h4>
            <div class="gel-searchbox gel-border">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Enter your search...">
                  <div class="input-group-append">
                    <button class="btn gel-button"><span class="fas fa-search"></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2>Large</h2>
        <div class="row">
          <div class="col-12 col-md-6">
            <h4>Search Input</h4>
            <div class="gel-searchbox gel-small gel-large">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Enter your search...">
                  <div class="input-group-append">
                    <button class="btn gel-button"><span class="fas fa-search"></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <h4>Search Input with Border</h4>
            <div class="gel-searchbox gel-border gel-large">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Enter your search...">
                  <div class="input-group-append">
                    <button class="btn gel-button"><span class="fas fa-search"></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table><!-- global footer scripts include JQuery //-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script><!-- include any component specific scripts here //-->
  </body>
</html>
