dist/components/secondary-anchor-box-multiple.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>Secondary Anchor box | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head>
  <body>
    <h2> Secondary Index Anchor box</h2><!-- start component //-->
<!-- include link to component here -   +componentName(var) //-->
<!-- end component //-->
<!-- Dummy content here for the secondary index.js to work //-->
    <div class="container" data-gel-anchor-box>
      <h2>Background</h2>
      <p>The eFPT Plan is pre-populated with substantive (permanent) positions in your school. This doesn&rsquo;t include entitlement where there are no permanent positions &ndash; you will need to add this entitlement. The SBAR is also pre-populated.</p>
      <h3>Before you start</h3>
      <p>Either have a hard copy of your SBAR available or operate from two screens. Display the SBAR on one and use the other to update the eFPT. This will make it easier to compare and verify the positions.</p>
      <h2>Instructions</h2>
      <div class="gel-secondary-index-parent">
        <h3 class="gel-secondary-index-level1">Verify the positions to balance to the SBAR</h3>
        <p class="gel-secondary-index-level2"> 1. Either have a hard copy of your SBAR available or operate from two screens. Display the SBAR on one and use the other to update the eFPT. This will make it easier to compare and verify the positions.</p>
        <p>You need to balance the Plan&nbsp;FTE to the SBAR&nbsp;FTE. If the entitlements differ, you&rsquo;ll need to add position FTEs to balance these entitlements.</p>
        <p></p>
        <p class="gel-secondary-index-level2">2. Select Entitlement Teaching Variance to open the Entitlement Teaching Summary.</p>
        <p>The summary includes additional information such as SBAR FTE and Cost vs the Plan FTE and Cost, as well as the Base and Equity&nbsp;&nbsp;entitlements.</p>
        <p></p>
        <p class="gel-secondary-index-level2">3. Select Entitlement Teaching Summary to close the summary.</p>
        <p class="gel-secondary-index-level2">
           4. Under Teaching Staff, select Position Description then select Sort Ascending. This will help you identify the positions.</p>
        <p></p>
        <p class="gel-secondary-index-level2"> 5. Review the SBAR. Take note of positions and FTE.</p>
        <p></p>
        <div class="gel-call-out-box" id="new_content_container_655246">
          <p>Note: A key component of the SBAR is the staff entitlement funding on page 8. It includes the Total Teacher Entitlement and the Total SASS Entitlement that need to be balanced.</p>
        </div>
        <p class="gel-secondary-index-level2">6. Compare the SBAR to the eFPT.</p>
        <p>It should be easy to find each position, as you previously sorted the list by Position Description.</p>
        <p>Use this method to verify all positions.</p>
        <p></p>
      </div>
      <div class="gel-secondary-index-parent">              
        <h3 class="gel-secondary-index-level1">Add a Base Entitlement</h3>
        <p>These steps show you how to add classroom teachers entitlement in eFPT to balance to the SBAR.</p>
        <p class="gel-secondary-index-level2"> 7. Select Add Entry.</p>
        <p></p>
        <p class="gel-secondary-index-level2"> 8. Select Position Description and enter the position.</p>
        <p class="gel-secondary-index-level2"> 9. Select the Position from the drop-down list.</p>
        <p></p>
        <div class="gel-call-out-box" id="new_content_container_655267">
          <p>Tip: This field uses predictive text. If you type &lsquo;class,&rsquo; a list of all the positions with the word &lsquo;class&rsquo; will appear. For example, &lsquo;classroom teacher.&rsquo;</p>
        </div>
        <p class="gel-secondary-index-level2"> 10. Change the Position FTE, Start Date and End Date as required.</p>
        <p></p>
      </div>
    </div><!-- Dummy content ends here //-->    
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <!-- global footer scripts include JQuery-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script>
    <script src="../assets/js/components/secondaryAnchorBox.js" type="text/javascript"></script>
    <!-- include any component specific scripts here -->
  </body>
</html>

src/assets/templates/components/secondary-anchor-box-multiple.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Secondary Anchor box"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
 

  body
    h2  Secondary Index Anchor box
    <!-- start component //-->
    
    <!-- include link to component here -   +componentName(var) //-->
    
    <!-- end component //-->
    <!-- Dummy content here for the secondary index.js to work //-->

            div.container(data-gel-anchor-box)

              h2 Background
              p
                | The eFPT Plan is pre-populated with substantive (permanent) positions in your school. This doesn&rsquo;t include entitlement where there are no permanent positions &ndash; you will need to add this entitlement. The SBAR is also pre-populated.
              h3 Before you start
              p
                | Either have a hard copy of your SBAR available or operate from two screens. Display the SBAR on one and use the other to update the eFPT. This will make it easier to compare and verify the positions.
              h2 Instructions
              div.gel-secondary-index-parent
                h3.gel-secondary-index-level1 Verify the positions to balance to the SBAR
                p.gel-secondary-index-level2  1. Either have a hard copy of your SBAR available or operate from two screens. Display the SBAR on one and use the other to update the eFPT. This will make it easier to compare and verify the positions.
                p
                  | You need to balance the Plan&nbsp;FTE to the SBAR&nbsp;FTE. If the entitlements differ, you&rsquo;ll need to add position FTEs to balance these entitlements.
                p
                 
                p.gel-secondary-index-level2
                  | 2. Select Entitlement Teaching Variance to open the Entitlement Teaching Summary.
                p
                  | The summary includes additional information such as SBAR FTE and Cost vs the Plan FTE and Cost, as well as the Base and Equity&nbsp;&nbsp;entitlements.
                p
                 
                p.gel-secondary-index-level2 3. Select Entitlement Teaching Summary to close the summary.
                p.gel-secondary-index-level2 
                  | 4. Under Teaching Staff, select Position Description then select Sort Ascending. This will help you identify the positions.
                p
                 
                p.gel-secondary-index-level2  5. Review the SBAR. Take note of positions and FTE.
                p
                 
                #new_content_container_655246.gel-call-out-box
                  p
                    | Note: A key component of the SBAR is the staff entitlement funding on page 8. It includes the Total Teacher Entitlement and the Total SASS Entitlement that need to be balanced.
                p.gel-secondary-index-level2 6. Compare the SBAR to the eFPT.
                p
                  | It should be easy to find each position, as you previously sorted the list by Position Description.
                p Use this method to verify all positions.
                p
              div.gel-secondary-index-parent               
                h3.gel-secondary-index-level1 Add a Base Entitlement
                p
                  | These steps show you how to add classroom teachers entitlement in eFPT to balance to the SBAR.
                p.gel-secondary-index-level2  7. Select Add Entry.
                p
                 
                p.gel-secondary-index-level2  8. Select Position Description and enter the position.
                p.gel-secondary-index-level2  9. Select the Position from the drop-down list.
                p
                  
                #new_content_container_655267.gel-call-out-box
                  p
                    | Tip: This field uses predictive text. If you type &lsquo;class,&rsquo; a list of all the positions with the word &lsquo;class&rsquo; will appear. For example, &lsquo;classroom teacher.&rsquo;
                p.gel-secondary-index-level2  10. Change the Position FTE, Start Date and End Date as required.
                p
    <!-- Dummy content ends here //-->    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    // global footer scripts include JQuery
    include ../../pug/components/_global-scripts.pug 
    script(src='../assets/js/components/secondaryAnchorBox.js' type='text/javascript')
    // include any component specific scripts here 
      
      
    
