src/assets/templates/components/section_footer_links_component.pug

//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Section Footer"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body
    h2 Section Footer Variation 1 -  with 2 Link Columns
    <!-- start component //-->
    footer
      div.gel-section-footer(aria-label="Section Footer")
        div.gel-section-footer__variation-1
          div.container
            div.row
              div.col-12.col-md-4
                +gel_social_media_icons_list(4, ["facebook","linkedin","twitter","instagram"],"NSW DoE profile on ","Say Hello")
                +gel_acknowledgement
              div.col-12.col-md-8
                h3 Section Footer Links Title
                +gel_link_columns(12,2,true)
    <!-- end component //-->

    h2 Section Footer Variation 2 -  with 3 Link Columns
    <!-- start component //-->
    footer
      div.gel-section-footer(aria-label="Section Footer")
        div.gel-section-footer__variation-2
          div.container
            div.row
              div.col-12
                h3 Section Footer Links Title
                +gel_link_columns(12,3,true)
          +gel_acknowledgement
    <!-- end component //-->

    h2 Section Footer Variation 3 -  with 1 Link Column
    <!-- start component //-->
    footer
      div.gel-section-footer(aria-label="Section Footer")
        div.gel-section-footer__variation-3
          div.container
            div.row
              div.col-12.col-md-4
                  h3 Section Footer Links Title
                  +gel_link_columns(4,1,true)
              div.col-12.col-md-8
                  +gel_social_media_icons_list(3, ["facebook","twitter","instagram"],"NSW DoE profile on ","Follow Us")
          +gel_acknowledgement
    <!-- end component //-->
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

dist/components/section_footer_links_component.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>Section Footer | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head>
  <body>
    <h2>Section Footer Variation 1 -  with 2 Link Columns</h2><!-- start component //-->
    <footer>
      <div class="gel-section-footer" aria-label="Section Footer">
        <div class="gel-section-footer__variation-1">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-4">
                <div class="gel-social-icons-panel">
                  <h3>Say Hello</h3>
                  <ul class="gel-social-icons-panel_links">
                    <li class="gel-social-icons-panel_links-list"><a class="gel-social-icons-panel_links-list-icon" href="#" aria-label="NSW DoE profile on facebook"><span class="gel-social-icons-panel_links-list-facebook" aria-hidden="true"></span></a></li>
                    <li class="gel-social-icons-panel_links-list"><a class="gel-social-icons-panel_links-list-icon" href="#" aria-label="NSW DoE profile on linkedin"><span class="gel-social-icons-panel_links-list-linkedin" aria-hidden="true"></span></a></li>
                    <li class="gel-social-icons-panel_links-list"><a class="gel-social-icons-panel_links-list-icon" href="#" aria-label="NSW DoE profile on twitter"><span class="gel-social-icons-panel_links-list-twitter" aria-hidden="true"></span></a></li>
                    <li class="gel-social-icons-panel_links-list"><a class="gel-social-icons-panel_links-list-icon" href="#" aria-label="NSW DoE profile on instagram"><span class="gel-social-icons-panel_links-list-instagram" aria-hidden="true"></span></a></li>
                  </ul>
                </div>
                <div class="gel-acknowledgement">
                  <div class="container">
                    <p>We acknowledge the homelands of all Aboriginal people and pay our respect to Country.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-8">
                <h3>Section Footer Links Title</h3>
                <div class="gel-link-columns">
                  <ul class="gel-link-list gel-link-columns__items gel-link-columns--2col gel-link-columns--condensed">
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">and above it there hung a.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">Drops of rain could be heard.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">He must have tried it a.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">and above it there hung a.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">Drops of rain could be heard.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">He must have tried it a.</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer><!-- end component //-->
    <h2>Section Footer Variation 2 -  with 3 Link Columns</h2><!-- start component //-->
    <footer>
      <div class="gel-section-footer" aria-label="Section Footer">
        <div class="gel-section-footer__variation-2">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h3>Section Footer Links Title</h3>
                <div class="gel-link-columns">
                  <ul class="gel-link-list gel-link-columns__items gel-link-columns--3col gel-link-columns--condensed">
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">and above it there hung a.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">Drops of rain could be heard.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">He must have tried it a.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">and above it there hung a.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">Drops of rain could be heard.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">He must have tried it a.</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="gel-acknowledgement">
            <div class="container">
              <p>We acknowledge the homelands of all Aboriginal people and pay our respect to Country.</p>
            </div>
          </div>
        </div>
      </div>
    </footer><!-- end component //-->
    <h2>Section Footer Variation 3 -  with 1 Link Column</h2><!-- start component //-->
    <footer>
      <div class="gel-section-footer" aria-label="Section Footer">
        <div class="gel-section-footer__variation-3">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-4">
                <h3>Section Footer Links Title</h3>
                <div class="gel-link-columns">
                  <ul class="gel-link-list gel-link-columns__items gel-link-columns--1col gel-link-columns--condensed">
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">and above it there hung a.</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-md-8">
                <div class="gel-social-icons-panel">
                  <h3>Follow Us</h3>
                  <ul class="gel-social-icons-panel_links">
                    <li class="gel-social-icons-panel_links-list"><a class="gel-social-icons-panel_links-list-icon" href="#" aria-label="NSW DoE profile on facebook"><span class="gel-social-icons-panel_links-list-facebook" aria-hidden="true"></span></a></li>
                    <li class="gel-social-icons-panel_links-list"><a class="gel-social-icons-panel_links-list-icon" href="#" aria-label="NSW DoE profile on twitter"><span class="gel-social-icons-panel_links-list-twitter" aria-hidden="true"></span></a></li>
                    <li class="gel-social-icons-panel_links-list"><a class="gel-social-icons-panel_links-list-icon" href="#" aria-label="NSW DoE profile on instagram"><span class="gel-social-icons-panel_links-list-instagram" aria-hidden="true"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="gel-acknowledgement">
            <div class="container">
              <p>We acknowledge the homelands of all Aboriginal people and pay our respect to Country.</p>
            </div>
          </div>
        </div>
      </div>
    </footer><!-- end component //-->
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
</html>
