dist/components/side-navigation.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>Side Navigation | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!-- include link to css for component here //-->
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2> Side Navigation</h2>
          <aside class="gel-lhs" aria-label="sideNavigation">
            <div class="spacer"></div>
            <hr id="sideNavigation">
            <div id="sidenavigation_auto">
              <nav aria-lable="side navigation">
                <div class="gel-side-navigation">
                  <ul>
                    <li class="sn_parent gel-side-navigation-upper"><a href="#"><span class="sr-only">Back to</span>One morning when <span class="gel-icon-chevron-left" aria-hidden="true"></span></a>
                    </li>
                    <li class="sn_parent active"><a href="#" aria-current="true">His many legs </a>
                      <ul>
                        <li><a href="#">His room a </a>
                        </li>
                        <li><a href="#">and above it </a>
                        </li>
                      </ul>
                    </li>
                    <li class="sn_parent"><a href="#">Drops of rain </a>
                      <ul>
                        <li><a href="#">He must have </a>
                        </li>
                        <li><a href="#">One morning when </a>
                        </li>
                      </ul>
                    </li>
                    <li class="sn_parent"><a href="#">His many legs </a>
                      <ul>
                        <li><a href="#">His room a </a>
                          <ul>
                            <li><a href="#">and above it </a>
                            </li>
                            <li><a href="#">Drops of rain </a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="sn_parent"><a href="#">He must have </a>
                    </li>
                    <li class="sn_parent"><a href="#">One morning when </a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </aside>
        </div>
        <div class="col-md-8">
          <h2>content components</h2>
        </div>
      </div>
    </div>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table><!-- global footer scripts include JQuery //-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script><!-- include any component specific scripts here //-->
    <script src="../assets/js/components/sideNavigation.js" type="text/javascript"></script>
  </body>
</html>

src/assets/templates/components/side-navigation.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Side Navigation"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    
    .container
      .row
        .col-md-4
          h2  Side Navigation
          
          aside.gel-lhs(aria-label="sideNavigation")

            //- SIDE NAVIGATION -//

            div.spacer

            hr#sideNavigation

            div#sidenavigation_auto

              +gel_side_navigation
            
              
        .col-md-8
          h2 content components
          
    
    
    
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
    script(src='../assets/js/components/sideNavigation.js' type='text/javascript')
      
      
    
