dist/components/tabs.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>Tabs Component | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head>
  <!-- include link to css for component here -->
  <body>
    <main class="gel-main">
      <div class="container">
        <section class="gel-main-content"> 
          <div class="spacer"></div>
          <h2>
             Tabs</h2><!-- include link to component here -   +componentName(var) //-->
          <div class="gel-tabs js-tabs gel-tabs--active">
            <ul class="js-tablist" data-hx="h2">
              <li class="gel-tabs__group js-tablist__item" role="presentation"><a class="js-tablist__link" id="label_tabs309-1" href="#tabs309-1" tabindex="0" aria-selected="true" data-selected="1" aria-expanded="true">One morning when </a>
              </li>
              <li class="gel-tabs__group js-tablist__item" role="presentation"><a class="js-tablist__link" id="label_tabs309-2" href="#tabs309-2">His many legs </a>
              </li>
              <li class="gel-tabs__group js-tablist__item" role="presentation"><a class="js-tablist__link" id="label_tabs309-3" href="#tabs309-3">His room a </a>
              </li>
              <li class="gel-tabs__group js-tablist__item" role="presentation"><a class="js-tablist__link" id="label_tabs309-4" href="#tabs309-4">and above it </a>
              </li>
            </ul>
            <div class="gel-tabs__panel-group"> 
              <div>
                <div class="js-tabcontent" id="tabs309-1" role="tabpanel" aria-hidden="false" aria-label="tabpanel">
                  <p>Drops of rain could be heard hitting the pane, which made him feel quite sad. How about if I sleep a little bit longer and forget all this nonsense, he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldnt get into that position. However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut his eyes so that he wouldnt have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before.  Travelling day in and day out. Doing business like this takes much more effort than doing your own business at home, and on top of that theres the curse of travelling, worries about making train connections, bad and irregular food, contact with different people all the time so that you can never get to know anyone or become friendly with them.  found where the itch was, and saw that it was covered with lots of little white spots which he didnt know what to make of. 
                  </p>
                  <p><a href="https://cms.uat.det.nsw.edu.au/lmbr/existing-schools/2016-bulletins/Bulletin-25-21-March-2016.pdf" target="_blank">PDF Example for Analytics</a>,  <a href="https://www.decprocurementnsw.com.au/wp-content/uploads/Register-New-Supplier-Account.mp4" target="_blank">MP4 Example for Analytics</a></p>
                </div>
              </div>
              <div>
                <div class="js-tabcontent" id="tabs309-2" role="tabpanel" aria-label="tabpanel">
                  <p>In the recent ebs4 update, changes were made to the naming conventions of the ebs4 products. ebs4: Client (Student Administration) is now known as ebs: central and ebs4: Agent (Student Management) is now known as ebs: ontrack+.</p>
                  <p>Please note in the following presentations reference is made to the original product name, the processes remain the same however some screen shots have altererd. We are currently updating this material and new Adobe presentations will be available shortly.</p>
                  <table width="100%">
                    <thead>
                      <tr>
                        <th scope="col">Recorded Adobe Connect Links</th>
                        <th scope="col">Duration</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="https://connect.schools.nsw.edu.au/p1k08fkweai/" target="_blank">Overview of Release 4.24<span class="gel-external-link"></span></a></td>
                        <td>9:25 min</td>
                      </tr>
                      <tr>
                        <td><a title="How to access Agent using your iPhone or Smart Phone" href="https://connect.schools.nsw.edu.au/p6czkhvoi0r" target="_blank">How to access Ontrack+ (Agent) using your iPhone or Smart Phone<span class="gel-external-link"></span></a></td>
                        <td>8:57 min</td>
                      </tr>
                      <tr>
                        <td><a title="Enrol new students into ebs4 curriculum" href="https://connect.schools.nsw.edu.au/p66lvdj5gr8" target="_blank">Managing new students in ebs:central (ebs4)<span class="gel-external-link"></span></a></td>
                        <td>19:54 min</td>
                      </tr>
                      <tr>
                        <td><a title="Review and amend class lists" href="https://connect.schools.nsw.edu.au/p8iyz2e6g0c" target="_blank">Managing student roll class enrolment<span class="gel-external-link"></span></a></td>
                        <td>11:44 min</td>
                      </tr>
                      <tr>
                        <td><a title="ebs4 Fee Structure Setup - What will work best for your school" href="https://connect.schools.nsw.edu.au/p7hebd65oqo" target="_blank">Fee Structure Setup - What will work best for your school<span class="gel-external-link"></span></a></td>
                        <td>19:52 min</td>
                      </tr>
                      <tr>
                        <td><a title="Best Practice Banking in ebs4" href="https://connect.schools.nsw.edu.au/p7h1jyvgpyz" target="_blank">Best Practice Banking in ebs: central (ebs4)<span class="gel-external-link"></span></a></td>
                        <td> 31:22 min</td>
                      </tr>
                      <tr>
                        <td><a title="ebs4 Tips and Hints" href="https://connect.schools.nsw.edu.au/p7dhy12ytvl" target="_blank">Tips and Hints in ebs: central (ebs4)<span class="gel-external-link"></span></a></td>
                        <td> 51:58 min</td>
                      </tr>
                      <tr>
                        <td><a title="Student Wellbeing-managing Health, Orders, documents" href="https://connect.schools.nsw.edu.au/p1vckyx1i85">Student Wellbeing-managing Health, Orders, documents<span class="gel-external-link"></span></a></td>
                        <td>34:33 min</td>
                      </tr>
                      <tr>
                        <td><a title="Importing Attendance Data from a Third Party System to ebs4" href="https://connect.schools.nsw.edu.au/p87zdvbfeve" target="_blank">Importing Attendance Data from a Third Party System to ebs: central (ebs4)<span class="gel-external-link"></span></a></td>
                        <td> 32:28 min</td>
                      </tr>
                      <tr>
                        <td><a title="SBSR - Reporting PLAN and SALM" href="https://connect.schools.nsw.edu.au/p58827nwaxv">SBSR - Reporting PLAN and SALM<span class="gel-external-link"></span></a></td>
                        <td>34:26 min</td>
                      </tr>
                      <tr>
                        <td><a href="https://connect.schools.nsw.edu.au/p4gxgxzrltb/" target="_blank">Cash Desk: Best Practice Unmatch & Rematch Fees, Cancel Receipts and Refunds<span class="gel-external-link"></span></a></td>
                        <td>16:06 min</td>
                      </tr>
                      <tr>
                        <td><a href="https://connect.schools.nsw.edu.au/p86x3qv65vs/" target="_blank">Mid term/year Enrolment in to Roll Call UI<span class="gel-external-link"></span></a></td>
                        <td>16:26 min</td>
                      </tr>
                      <tr>
                        <td><a href="https://connect.schools.nsw.edu.au/p3yhwh2ch6d/" target="_blank">Cash Desk: Best Practice for banking processes to minimise red dots<span class="gel-external-link"></span></a></td>
                        <td>29:36 min</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div>
                <div class="js-tabcontent" id="tabs309-3" role="tabpanel" aria-label="tabpanel">
                  <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. It wasnt a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. 
                  </p>
                  <p><a href="https://cms.uat.det.nsw.edu.au/lmbr/existing-schools/2016-bulletins/Bulletin-25-21-March-2016.pdf" target="_blank">PDF Example for Analytics</a>,  <a href="https://www.decprocurementnsw.com.au/wp-content/uploads/Register-New-Supplier-Account.mp4" target="_blank">MP4 Example for Analytics</a></p>
                </div>
              </div>
              <div>
                <div class="js-tabcontent" id="tabs309-4" role="tabpanel" aria-label="tabpanel">
                  <p>A collection of textile samples lay spread out on the table. Samsa was a travelling salesman. and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. How about if I sleep a little bit longer and forget all this nonsense, he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldnt get into that position. 
                  </p>
                  <p><a href="https://cms.uat.det.nsw.edu.au/lmbr/existing-schools/2016-bulletins/Bulletin-25-21-March-2016.pdf" target="_blank">PDF Example for Analytics</a>,  <a href="https://www.decprocurementnsw.com.au/wp-content/uploads/Register-New-Supplier-Account.mp4" target="_blank">MP4 Example for Analytics</a></p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>04-04-2019</td>
          <td> <a href="https://dec-ce.atlassian.net/browse/GEL-10">https://dec-ce.atlassian.net/browse/GEL-10</a></td>
          <td>Updated the tabs.pug, tabs.scss, includes/tabs.js and and copy.js to include the "jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js"</td>
        </tr>
      </tbody>
    </table>
    <!-- global footer scripts include JQuery-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script>
    <!-- include any component specific scripts here -->
    <script src="../assets/js/components/externalLinkTagger.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js" type="text/javascript"></script>
  </body>
</html>

src/assets/templates/components/tabs.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Tabs Component"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  // include link to css for component here 

  body
    main.gel-main
      div.container
        section.gel-main-content 
          div.spacer
          h2  
            | Tabs

          <!-- include link to component here -   +componentName(var) //-->
    
          +gel_tabs(4) 
          

    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details

      tbody
        tr
          td 04-04-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-10")
              | https://dec-ce.atlassian.net/browse/GEL-10
          td Updated the tabs.pug, tabs.scss, includes/tabs.js and and copy.js to include the "jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js"
          
      
    // global footer scripts include JQuery
    include ../../pug/components/_global-scripts.pug 
    // include any component specific scripts here 
    script(src='../assets/js/components/externalLinkTagger.js' type='text/javascript')
    script(src='../assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
     
      
    
