src/assets/pug/components/pagination.pug
//--- *************** ---//
//--- PAGINATION ---//
//--- *************** ---//

//- A set of page links used for large amounts of content to be split into multiple pages.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | A set of page links used for large amounts of content to be split into multiple pages.
  | //- @param {int} count         - max page count
  | //- @param {string} position   - where to position the pagination
  | +gel_pagination(7, position, integ)


mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------
mixin pagination_item(count, pageRef, integ)
  if count == 1
    if integ == true
      li.gel-pagination__disabled
        a( href="#" tabindex="0" aria-label="Current Page " + count role="link" )
          = count  
    else    
      li.gel-pagination__disabled.gel-pagination__active
        a( href="#" tabindex="0" aria-label="Current Page " + count role="link" )
          = count
  else
    li
      a(href="#" title="Page " + count aria-label="Page " + count)
        = count



//--- HTML OUTPUT ---//
//---------------------------------------------------------
mixin gel_pagination(max, position, integ)

  - var num = 1
  
  nav
    ul.gel-pagination

      li.gel-pagination__prev.gel-pagination__disabled
        a(href="#" title="Previous page" aria-label="Previous page")
          span Previous

      while num < max + 1
        +pagination_item(num++, position, integ)

      li.gel-pagination__more.gel-pagination__disabled
        span(href="#") ...

      li.gel-pagination__next
        a(href="#" title="Next page" aria-label="Next page")
          span Next
          
          
mixin gel_pagination_with_higher_numbers(selectedPage, position, integ)
  - var max = 15
  - var num = 1
  - var count = 0
  - var prevDisabled
  - var nextDisabled
  - var prevEllipsisShown
  - var nextEllipsisShown
  - var pageNumShown
  
  if selectedPage == 1
    - prevDisabled = "gel-pagination__disabled"
  if selectedPage == max
    - nextDisabled = "gel-pagination__disabled"

  nav
    ul.gel-pagination
      
      li.gel-pagination__prev(class=prevDisabled)
        a(href="#" title="Previous page" aria-label="Previous page")
          span Previous
              
      while num < max + 1
        - count = num++         
              
        if count == selectedPage
          if integ == true
            li.gel-pagination__disabled
              a( href="#" tabindex="0" aria-label="Current Page " + count role="link" )
                = count  
          else    
            li.gel-pagination__disabled.gel-pagination__active
              a( href="#" tabindex="0" aria-label="Current Page " + count role="link" )
                = count
        else 

          if count == 1
            - pageNumShown = true
          else if selectedPage < 5 && count > 5
            - pageNumShown = false
          else if selectedPage > 4 && selectedPage < 12 && count < selectedPage - 1
            - pageNumShown = false
          else if selectedPage > 4 && selectedPage < 12 && count > selectedPage + 1
              - pageNumShown = false
          else if selectedPage > max - 4 && count < max - 4
            - pageNumShown = false  
          else
            - pageNumShown = true  
            
          if pageNumShown  
            li
              a(href="#" title="Page " + count aria-label="Page " + count)
                = count
                
          if count == 1
            if selectedPage > max - 6
              - prevEllipsisShown = true
            if selectedPage > 4 && max > 6
              - prevEllipsisShown = true          
            if prevEllipsisShown
              li.gel-pagination__more.gel-pagination__disabled
                span(href="#") ...           

          if count == max
            if selectedPage > max - 4
              - nextEllipsisShown = false
            else
              - nextEllipsisShown = true            
            if nextEllipsisShown
              li.gel-pagination__more.gel-pagination__disabled
                span(href="#") ...
            
      li.gel-pagination__next(class=nextDisabled)
        a(href="#" title="Next page" aria-label="Next page")
          span Next

dist/components/pagination.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>Pagination | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head>
  <body>
    <h2>Pagination</h2><!-- start component //-->  
    <nav>
      <ul class="gel-pagination">
        <li class="gel-pagination__prev gel-pagination__disabled"><a href="#" title="Previous page" aria-label="Previous page"><span>Previous</span></a></li>
        <li class="gel-pagination__disabled gel-pagination__active"><a href="#" tabindex="0" aria-label="Current Page 1" role="link">1</a></li>
        <li><a href="#" title="Page 2" aria-label="Page 2">2</a></li>
        <li><a href="#" title="Page 3" aria-label="Page 3">3</a></li>
        <li><a href="#" title="Page 4" aria-label="Page 4">4</a></li>
        <li><a href="#" title="Page 5" aria-label="Page 5">5</a></li>
        <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...</span></li>
        <li class="gel-pagination__next"><a href="#" title="Next page" aria-label="Next page"><span>Next</span></a></li>
      </ul>
    </nav>
    <nav>
      <ul class="gel-pagination">
        <li class="gel-pagination__prev"><a href="#" title="Previous page" aria-label="Previous page"><span>Previous</span></a></li>
        <li><a href="#" title="Page 1" aria-label="Page 1">1</a></li>
        <li><a href="#" title="Page 2" aria-label="Page 2">2</a></li>
        <li><a href="#" title="Page 3" aria-label="Page 3">3</a></li>
        <li class="gel-pagination__disabled gel-pagination__active"><a href="#" tabindex="0" aria-label="Current Page 4" role="link">4</a></li>
        <li><a href="#" title="Page 5" aria-label="Page 5">5</a></li>
        <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...</span></li>
        <li class="gel-pagination__next"><a href="#" title="Next page" aria-label="Next page"><span>Next</span></a></li>
      </ul>
    </nav>
    <nav>
      <ul class="gel-pagination">
        <li class="gel-pagination__prev"><a href="#" title="Previous page" aria-label="Previous page"><span>Previous</span></a></li>
        <li><a href="#" title="Page 1" aria-label="Page 1">1</a></li>
        <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...           </span></li>
        <li><a href="#" title="Page 4" aria-label="Page 4">4</a></li>
        <li class="gel-pagination__disabled gel-pagination__active"><a href="#" tabindex="0" aria-label="Current Page 5" role="link">5</a></li>
        <li><a href="#" title="Page 6" aria-label="Page 6">6</a></li>
        <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...</span></li>
        <li class="gel-pagination__next"><a href="#" title="Next page" aria-label="Next page"><span>Next</span></a></li>
      </ul>
    </nav>
    <nav>
      <ul class="gel-pagination">
        <li class="gel-pagination__prev"><a href="#" title="Previous page" aria-label="Previous page"><span>Previous</span></a></li>
        <li><a href="#" title="Page 1" aria-label="Page 1">1</a></li>
        <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...           </span></li>
        <li><a href="#" title="Page 10" aria-label="Page 10">10</a></li>
        <li class="gel-pagination__disabled gel-pagination__active"><a href="#" tabindex="0" aria-label="Current Page 11" role="link">11</a></li>
        <li><a href="#" title="Page 12" aria-label="Page 12">12</a></li>
        <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...</span></li>
        <li class="gel-pagination__next"><a href="#" title="Next page" aria-label="Next page"><span>Next</span></a></li>
      </ul>
    </nav>
    <nav>
      <ul class="gel-pagination">
        <li class="gel-pagination__prev"><a href="#" title="Previous page" aria-label="Previous page"><span>Previous</span></a></li>
        <li><a href="#" title="Page 1" aria-label="Page 1">1</a></li>
        <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...           </span></li>
        <li><a href="#" title="Page 11" aria-label="Page 11">11</a></li>
        <li class="gel-pagination__disabled gel-pagination__active"><a href="#" tabindex="0" aria-label="Current Page 12" role="link">12</a></li>
        <li><a href="#" title="Page 13" aria-label="Page 13">13</a></li>
        <li><a href="#" title="Page 14" aria-label="Page 14">14</a></li>
        <li><a href="#" title="Page 15" aria-label="Page 15">15</a></li>
        <li class="gel-pagination__next"><a href="#" title="Next page" aria-label="Next page"><span>Next</span></a></li>
      </ul>
    </nav>
    <nav>
      <ul class="gel-pagination">
        <li class="gel-pagination__prev"><a href="#" title="Previous page" aria-label="Previous page"><span>Previous</span></a></li>
        <li><a href="#" title="Page 1" aria-label="Page 1">1</a></li>
        <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...           </span></li>
        <li><a href="#" title="Page 11" aria-label="Page 11">11</a></li>
        <li><a href="#" title="Page 12" aria-label="Page 12">12</a></li>
        <li><a href="#" title="Page 13" aria-label="Page 13">13</a></li>
        <li><a href="#" title="Page 14" aria-label="Page 14">14</a></li>
        <li class="gel-pagination__disabled gel-pagination__active"><a href="#" tabindex="0" aria-label="Current Page 15" role="link">15</a></li>
        <li class="gel-pagination__next gel-pagination__disabled"><a href="#" title="Next page" aria-label="Next page"><span>Next</span></a></li>
      </ul>
    </nav><!-- end component //-->
    <h2>Pagination for AEM Integration</h2>
    <p>Note: Active/disabled state, page numbers are to be dynamically added in AEM</p><!-- start component //-->  
    <nav>
      <ul class="gel-pagination">
        <li class="gel-pagination__prev gel-pagination__disabled"><a href="#" title="Previous page" aria-label="Previous page"><span>Previous</span></a></li>
        <li class="gel-pagination__disabled"><a href="#" tabindex="0" aria-label="Current Page 1" role="link">1</a></li>
        <li><a href="#" title="Page 2" aria-label="Page 2">2</a></li>
        <li><a href="#" title="Page 3" aria-label="Page 3">3</a></li>
        <li><a href="#" title="Page 4" aria-label="Page 4">4</a></li>
        <li><a href="#" title="Page 5" aria-label="Page 5">5</a></li>
        <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...</span></li>
        <li class="gel-pagination__next"><a href="#" title="Next page" aria-label="Next page"><span>Next</span></a></li>
      </ul>
    </nav>
    <nav>
      <ul class="gel-pagination">
        <li class="gel-pagination__prev"><a href="#" title="Previous page" aria-label="Previous page"><span>Previous</span></a></li>
        <li><a href="#" title="Page 1" aria-label="Page 1">1</a></li>
        <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...           </span></li>
        <li><a href="#" title="Page 4" aria-label="Page 4">4</a></li>
        <li class="gel-pagination__disabled"><a href="#" tabindex="0" aria-label="Current Page 5" role="link">5</a></li>
        <li><a href="#" title="Page 6" aria-label="Page 6">6</a></li>
        <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...</span></li>
        <li class="gel-pagination__next"><a href="#" title="Next page" aria-label="Next page"><span>Next</span></a></li>
      </ul>
    </nav><!-- end component //-->
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
</html>
