dist/components/show-hide.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="7ee385ba">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=7ee385ba" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=7ee385ba" media="print">
    <title>Show hide component | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!-- include link to css for component here //-->
  <body>
    <h2> Show hide</h2><!-- start component //-->
    <div class="gel-show-hide" id="988">
      <div class="card">
        <div class="card-header" id="heading122">
          <h3 class="gel-show-hide_title">
            <button class="gel-show-hide_link btn-block" data-toggle="collapse" data-target="#collapse-122" aria-expanded="false" aria-controls="collapse-122"><i></i><i class="vertical"></i>One morning when 
            </button>
          </h3>
        </div>
        <div class="collapse" id="collapse-122" aria-labelledby="heading122">
          <div class="card-body">His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. It wasnt a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table. 
            <p><i>Samsa was a travelling salesman. and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. </i></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading433">
          <h3 class="gel-show-hide_title">
            <button class="gel-show-hide_link btn-block" data-toggle="collapse" data-target="#collapse-433" aria-expanded="false" aria-controls="collapse-433"><i></i><i class="vertical"></i>How about if 
            </button>
          </h3>
        </div>
        <div class="collapse" id="collapse-433" aria-labelledby="heading433">
          <div class="card-body">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. 
            <p><i>It wasnt a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table. Samsa was a travelling salesman. and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. </i></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading617">
          <h3 class="gel-show-hide_title">
            <button class="gel-show-hide_link btn-block" data-toggle="collapse" data-target="#collapse-617" aria-expanded="false" aria-controls="collapse-617"><i></i><i class="vertical"></i>It showed a 
            </button>
          </h3>
        </div>
        <div class="collapse" id="collapse-617" aria-labelledby="heading617">
          <div class="card-body">How about if I sleep a little bit longer and forget all this nonsense, he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldnt get into that position. However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut his eyes so that he wouldnt have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before.  Travelling day in and day out. Doing business like this takes much more effort than doing your own business at home, and on top of that theres the curse of travelling, worries about making train connections, bad and irregular food, contact with different people all the time so that you can never get to know anyone or become friendly with them. 
            <p><i>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. </i></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading842">
          <h3 class="gel-show-hide_title">
            <button class="gel-show-hide_link btn-block" data-toggle="collapse" data-target="#collapse-842" aria-expanded="false" aria-controls="collapse-842"><i></i><i class="vertical"></i>It wasnt a 
            </button>
          </h3>
        </div>
        <div class="collapse" id="collapse-842" aria-labelledby="heading842">
          <div class="card-body">Samsa was a travelling salesman. and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. 
            <p><i>How about if I sleep a little bit longer and forget all this nonsense, he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldnt get into that position. However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut his eyes so that he wouldnt have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before.  Travelling day in and day out. Doing business like this takes much more effort than doing your own business at home, and on top of that theres the curse of travelling, worries about making train connections, bad and irregular food, contact with different people all the time so that you can never get to know anyone or become friendly with them. </i></p>
          </div>
        </div>
      </div>
    </div>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table><!-- global footer scripts include JQuery //-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script><!-- include any component specific scripts here //-->
  </body>
</html>

src/assets/pug/components/show-hide.pug
//--- ************************ ---//
//--- SHOW/HIDE ---//
//--- ************************ ---//

//- A way to minimise the display of content on a page using a toggle to show and hide

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {boolean} collapse - Choose whether to collapse and show first item on init
  | //- @param {int} max - Choose the maximum amount of accordions to be displayed
  | +gel_accordion(collapse, max)

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
mixin show_hide_inner(num)
  - var id = Math.floor((Math.random() * 1000) + 1)
  
    div.card
      div.card-header(id='heading'+id)
        h3.gel-show-hide_title
          button.gel-show-hide_link.btn-block(data-toggle='collapse', data-target='#collapse-'+id , aria-expanded='false', aria-controls='collapse-'+id)
            i
            i.vertical
            +lipsum(3, "words")
      div.collapse(id='collapse-'+id,aria-labelledby='heading'+id)
        div.card-body
          +lipsum(5, "sentences")
          p
            i
              +lipsum(5, "sentences")
//---------------------------------------------------------

mixin gel_show_hide(max)
  - var id = Math.floor((Math.random() * 1000) + 1)
  div.gel-show-hide(id=id)
    - var num = 0
    while num < max
      +show_hide_inner(num)
      - num++
